@font-face {
  font-family: 'PT_Sans';
  src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT_Sans';
  src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT_Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  color: #333333;
  background-color: #f2f2f2;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: no-wrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.fieldset__inner {
  width: 87%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .fieldset__inner {
    width: 100%;
  }
}
.page-header {
  background-color: #fff;
}
.page-header__logo {
  position: relative;
  width: 102px;
  height: 55px;
  margin: 0 auto;
  z-index: 100;
  overflow: visible;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .page-header__wrapper {
    margin: 0 auto;
  }
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
  }
}
@media (min-width: 1280px) {
  .page-header__logo {
    width: 188px;
    height: 96px;
    margin-left: -94px;
  }
}
.main-nav {
  position: relative;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__item {
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  background-color: #81b3d2;
}
.main-nav__item:last-child {
  border-bottom: none;
  background-image: linear-gradient(to top, #6d97b1 2px, #81b3d2 5px);
}
.main-nav__link {
  display: block;
  padding: 7px 20px;
  color: #fff;
  font-family: "PT_Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.main-nav__link:hover {
  background-color: #669ec0;
}
.main-nav__link:active {
  background-color: #5496bd;
  color: #7aadcb;
}
.main-nav__toggle {
  position: absolute;
  bottom: -38px;
  right: 20px;
}
.main-nav--no-js .main-nav__toggle::before,
.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  height: 4px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}
.main-nav--opened .main-nav__toggle::before {
  top: 10px;
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  position: absolute;
  content: "";
  height: 4px;
  top: 10px;
  left: 0;
  right: 0;
  background-color: #81b3d2;
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .main-nav__item {
    flex-basis: 20%;
    background-color: #fff;
    border: none;
  }
  .main-nav__item:last-child {
    background-image: none;
  }
  .main-nav__item:nth-child(3) {
    margin-left: auto;
  }
  .main-nav__link {
    padding: 0;
    color: #000;
    font-size: 14px;
    line-height: 26px;
    background-color: #fff;
  }
  .main-nav__link:hover {
    background-color: inherit;
    color: #81b3d2;
  }
  .main-nav__link:active {
    color: #b2b2b2;
  }
  .main-nav__link--active:hover {
    color: #604e43;
  }
  .main-nav__toggle {
    display: none;
  }
}
.toggle {
  width: 23px;
  height: 21px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.logo__link {
  display: block;
}
@media (min-width: 1280px) {
  .logo__img {
    width: 188px;
    height: auto;
  }
}
.promo--inner .promo__header {
  min-height: 160px;
}
.promo--inner .promo__image {
  width: 229px;
  height: 39px;
  background-image: url("../img/text-sedona.svg");
}
.promo--inner .promo__info {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.promo--inner .promo__info::before {
  display: none;
}
.promo__header {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 389px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo__header::before {
  position: absolute;
  content: "";
  height: 26px;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("../img/bg-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo__header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
.promo__image {
  width: 282px;
  height: 214px;
  margin: 0 auto;
  background-image: url("../img/text-sedona-index.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo__info {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 40px 10px 20px 10px;
}
.promo__info::before {
  position: absolute;
  content: "";
  height: 30px;
  right: 0;
  left: 0;
  bottom: -30px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.promo__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: "PT_Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.promo__text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .promo--inner .promo__header {
    min-height: 290px;
  }
  .promo--inner .promo__image {
    width: 458px;
    height: 78px;
  }
  .promo--inner .promo__info {
    padding-bottom: 72px;
    border-bottom: none;
  }
  .promo__header {
    min-height: 518px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
  }
  .promo__header::before {
    background-image: url("../img/bg-triangle-tablet.svg");
    height: 57px;
  }
  .promo__image {
    width: 460px;
    height: 350px;
  }
  .promo__info {
    padding: 46px 130px 50px 130px;
  }
  .promo__info::before {
    display: none;
  }
  .promo__title {
    font-size: 21px;
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .promo__header {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1280px) {
  .promo--inner .promo__header {
    min-height: 300px;
  }
  .promo--inner .promo__image {
    width: 461px;
    height: 80px;
  }
  .promo__header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
  .promo__header::before {
    background-image: url("../img/bg-triangle-desktop.svg");
    height: 57px;
  }
  .promo__info {
    padding-left: 320px;
    padding-right: 320px;
  }
}
@media (min-width: 1280px) and (min-resolution: 144dpi), (min-width: 1280px) and (min-resolution: 1.5dppx) {
  .promo__header {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}
@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.page-main {
  background-color: #ffffff;
}
.page-main__map {
  height: 350px;
  background-color: #f5f5f5;
}
.advantage {
  box-sizing: border-box;
  width: 100%;
}
.advantage--feature-3,
.advantage--feature-4,
.advantage--feature-5 {
  background-color: #eeeeee;
}
.advantage--feature-3 .advantage__inner,
.advantage--feature-4 .advantage__inner,
.advantage--feature-5 .advantage__inner {
  width: 80%;
  margin: 0 auto;
  background-color: #eeeeee;
  color: #3d3d3d;
  border-bottom: 1px solid #d6d6d6;
}
.advantage--feature-1 .advantage__inner {
  padding-top: 69px;
}
.advantage__inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 20px 39px;
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
}
.advantage__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-family: "PT_Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantage__title br {
  display: none;
}
.advantage__number {
  position: relative;
  margin-bottom: 13px;
  line-height: 21px;
  text-transform: uppercase;
}
.advantage__number::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  top: 10px;
  left: -12px;
  background-color: #fff;
}
.advantage__number::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  top: 10px;
  right: -12px;
  background-color: #fff;
}
.advantage__info {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.advantage__image {
  background-color: #f2f2f2;
}
.advantage__img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 260px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantage--feature-2 .advantage__image {
    order: -1;
  }
  .advantage--feature-3,
  .advantage--feature-4,
  .advantage--feature-5 {
    flex-basis: 33%;
    flex-grow: 1;
  }
  .advantage--feature-1 .advantage__inner {
    padding-top: 42px;
  }
  .advantage--feature-3 .advantage__inner,
  .advantage--feature-4 .advantage__inner,
  .advantage--feature-5 .advantage__inner {
    width: 100%;
    border: none;
    padding: 45px 50px;
  }
  .advantage--feature-3 .advantage__number::before,
  .advantage--feature-4 .advantage__number::before,
  .advantage--feature-5 .advantage__number::before,
  .advantage--feature-3 .advantage__number::after,
  .advantage--feature-4 .advantage__number::after,
  .advantage--feature-5 .advantage__number::after {
    background-color: #000;
  }
  .advantage__inner {
    box-sizing: border-box;
    width: 33%;
    padding: 43px 20px 45px;
  }
  .advantage__title {
    margin-bottom: 9px;
    max-width: 240px;
    font-size: 21px;
  }
  .advantage__title br {
    display: inline;
  }
  .advantage__number {
    margin-bottom: 22px;
  }
  .advantage__info {
    line-height: 21px;
  }
  .advantage__image {
    box-sizing: border-box;
    width: 67%;
  }
  .advantage__img {
    max-height: 256px;
  }
  .advantage__features {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .advantage__inner {
    padding: 45px 70px;
  }
  .advantage--feature-1 .advantage__inner {
    padding-top: 50px;
  }
  .advantage--feature-3 .advantage__inner,
  .advantage--feature-4 .advantage__inner,
  .advantage--feature-5 .advantage__inner {
    padding-bottom: 65px;
  }
}
.features {
  padding-top: 28px;
  padding-bottom: 28px;
}
.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.features__item {
  position: relative;
  padding-left: 22%;
  padding-right: 20px;
  margin-bottom: 28px;
}
.features__item:last-child {
  margin-bottom: 0;
}
.features__item::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: -10px;
  left: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.features__item--home::before {
  background-image: url("../img/icon-house.svg");
}
.features__item--gift::before {
  background-image: url("../img/icon-gift.svg");
}
.features__item--food::before {
  background-image: url("../img/icon-burger.svg");
}
.features__title {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000;
}
.features__info {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .features {
    padding: 57px 0;
  }
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features__item {
    width: 33%;
    box-sizing: border-box;
    padding: 102px 40px 0 40px;
    margin: 0;
  }
  .features__item::before {
    width: 78px;
    height: 75px;
    top: 0;
    left: 50%;
    margin-left: -39px;
  }
  .features__item--food {
    order: 1;
  }
  .features__item--gift {
    order: 2;
  }
  .features__title {
    margin-bottom: 21px;
    font-size: 21px;
    text-align: center;
  }
  .features__info {
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .features {
    padding-top: 57px;
    padding-bottom: 82px;
  }
}
.search {
  padding-top: 30px;
  padding-bottom: 49px;
}
.search__wrapper {
  width: 87%;
  margin: 0 auto;
}
.search__title {
  display: block;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.search__info {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.search__button {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .search {
    padding-top: 54px;
    padding-bottom: 57px;
  }
  .search__wrapper {
    width: 458px;
  }
  .search__title {
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 30px;
  }
  .search__info {
    margin-bottom: 42px;
  }
}
@media (min-width: 1280px) {
  .search {
    padding-top: 54px;
    padding-bottom: 65px;
  }
  .search__info {
    margin-bottom: 47px;
  }
}
.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 20px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #81b3d2;
  border: none;
  outline: none;
  cursor: pointer;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.footer {
  padding-top: 38px;
  padding-bottom: 23px;
  background-color: #fff;
}
.footer__wrapper {
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__hashtag {
  display: block;
  margin-bottom: 38px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.footer__social {
  width: 150px;
}
.footer__copyright {
  width: 130px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .footer {
    padding: 36px 0;
  }
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__hashtag,
  .footer__copyright {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .footer__wrapper {
    width: 960px;
  }
}
.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link:active .social__icon {
  fill: #88b6d1;
}
.social__icon {
  fill: #fff;
}
.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #444444;
}
.copyright__link:hover .copyright__icon {
  fill: #81b3d2;
}
.copyright__link:active .copyright__icon {
  fill: #b2b2b2;
}
.gallery__wrapper {
  margin: 0 auto;
}
.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gallery__item {
  padding-top: 22px;
  border-bottom: 1px solid #e5e5e5;
}
.gallery__item-inner {
  width: 87%;
  margin: 0 auto;
}
.gallery__link {
  display: block;
  width: 100%;
  background-color: #e5e5e5;
}
.gallery__img {
  display: block;
  margin: 0 auto;
}
.gallery__info {
  padding: 15px 0;
}
.gallery__info-title {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.gallery__info-author {
  display: block;
  margin-bottom: 10px;
}
.gallery__info-counter {
  position: relative;
  padding-left: 37px;
  line-height: 24px;
  font-weight: 700;
}
.gallery__info-counter::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 21px;
  top: 0;
  left: 0px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (min-width: 768px) {
  .gallery__wrapper {
    width: 648px;
  }
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery__item {
    padding-top: 0;
    border-bottom: none;
    width: 100%;
  }
  .gallery__item .gallery__img {
    width: 100%;
  }
  .gallery__item:nth-child(odd) .gallery__info {
    background-color: #f2f2f2;
  }
  .gallery__item:nth-child(even) .gallery__info {
    background-color: #eaeaea;
  }
  .gallery__item:not(:first-child) {
    width: 50%;
  }
  .gallery__item-inner {
    width: 100%;
  }
  .gallery__info {
    padding-right: 37px;
    padding-left: 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .gallery__info-author {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .gallery__wrapper {
    width: 100%;
  }
  .gallery__item {
    position: relative;
  }
  .gallery__item:not(:first-child) {
    flex-basis: 33%;
    flex-grow: 1;
  }
  .gallery__list .gallery__item .gallery__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.video {
  padding-top: 33px;
  margin-bottom: 42px;
}
.video__title {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.video__info {
  margin: 0;
  padding: 0;
  width: 78%;
  margin: 0 auto;
  margin-bottom: 35px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.video__content {
  width: 320px;
  margin: 0 auto;
  background-color: #e5e5e5;
}
.video__content img {
  display: block;
  margin: 0 auto;
}
.video__controls {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 280px;
  padding: 23px;
  display: flex;
  background-color: #f2f2f2;
}
.video__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.video__button--subtitle {
  margin-left: 133px;
}
.video__button--screen {
  margin-left: auto;
}
.video__icon {
  fill: #5c6870;
}
.video__progress {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  width: 280px;
  padding: 22px 22px;
  background-color: rgba(0, 0, 0, 0.4);
}
.video__progress-bar {
  position: relative;
  height: 3px;
  background-color: #7d7a79;
}
.video__progress-bar::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: -4px;
  left: 30%;
  border-radius: 50%;
  background-color: #fff;
}
@media (min-width: 768px) {
  .video {
    padding-top: 68px;
  }
  .video__wrapper {
    width: 87%;
    margin: 0 auto;
  }
  .video__title {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
  .video__info {
    width: 66%;
    margin-bottom: 70px;
  }
  .video__content {
    width: 648px;
  }
  .video__content img {
    width: 100%;
    height: auto;
  }
  .video__controls {
    margin-top: -93px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 648px;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .video__button {
    margin: 0;
  }
  .video__icon {
    fill: #fff;
  }
  .video__progress {
    padding: 0;
    position: static;
    width: 68%;
    height: 3px;
  }
}
@media (min-width: 1280px) {
  .video {
    margin-bottom: 85px;
  }
  .video__wrapper {
    width: 800px;
  }
  .video__info {
    width: 470px;
  }
  .video__content {
    width: 800px;
  }
  .video__controls {
    width: 800px;
  }
}
.review-form {
  margin: 0;
  padding: 0;
  padding-bottom: 47px;
}
.review-form__wrapper {
  width: 100%;
  margin: 0 auto;
}
.review-form__button {
  width: 100%;
}
@media (min-width: 768px) {
  .review-form__wrapper {
    width: 86%;
  }
}
.form-name {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 42px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.form-name__title {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .form-name__title {
    font-size: 21px;
  }
}
.form-name__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form-name__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form-name__item:last-child {
  margin-bottom: 0;
}
.form-name__label {
  line-height: 26px;
  text-transform: uppercase;
}
.form-name__input {
  display: block;
  flex-grow: 1;
  padding: 16px 18px;
  margin-left: 14px;
  border: 3px solid transparent;
  outline: none;
  background-color: #f2f2f2;
  font-style: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}
.form-name__input:hover {
  background-color: #e5e5e5;
}
.form-name__input:focus {
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}
.form-contacts {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 28px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.form-contacts__title {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .form-contacts__title {
    font-size: 21px;
  }
}
.form-contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form-contacts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.form-contacts__item:last-child {
  margin-bottom: 0;
}
.form-contacts__label {
  margin-left: 22px;
  margin-bottom: 8px;
  line-height: 26px;
  text-transform: uppercase;
}
.form-contacts__input {
  display: block;
  box-sizing: border-box;
  padding: 16px 58px 16px 18px;
  border: 3px solid transparent;
  outline: none;
  background-color: #f2f2f2;
  background-size: 58px 58px;
  background-position: top right;
  background-repeat: no-repeat;
  font-style: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}
.form-contacts__input--tel {
  background-image: url("../img/icon-tel.svg");
}
.form-contacts__input--mail {
  background-image: url("../img/icon-mail.svg");
}
.form-contacts__input:hover {
  background-color: #e5e5e5;
}
.form-contacts__input:focus {
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}
.form-impression {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 42px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.form-impression__title {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .form-impression__title {
    font-size: 21px;
  }
}
.form-impression__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form-impression__item {
  padding-left: 80px;
  margin-bottom: 42px;
}
.form-impression__item:last-child {
  margin-bottom: 0;
}
.form-impression__input {
  display: none;
}
.form-impression__label {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.form-impression__label::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  top: -13px;
  left: -80px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.form-impression__label::after {
  display: none;
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: 4px;
  left: -62px;
  background-color: #000;
  border-radius: 50%;
}
.form-impression__label:hover::before {
  background-color: #e5e5e5;
}
.form-impression__label:active::after {
  background-color: #a4a4a4;
}
#positive:checked ~ .form-impression__label::after,
#negative:checked ~ .form-impression__label::after,
#difficult:checked ~ .form-impression__label::after {
  display: block;
}
.form-attractions {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 42px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.form-attractions__title {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form-attractions__title {
    font-size: 21px;
  }
}
.form-attractions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form-attractions__item {
  padding-left: 80px;
  margin-bottom: 58px;
}
.form-attractions__item:last-child {
  margin-bottom: 0;
}
.form-attractions__input {
  display: none;
}
.form-attractions__label {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.form-attractions__label::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  top: -13px;
  left: -80px;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.form-attractions__label::after {
  display: none;
  position: absolute;
  content: "";
  width: 25px;
  height: 20px;
  top: 8px;
  left: -65px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.form-attractions__label:hover::before {
  background-color: #e5e5e5;
}
.form-attractions__label:active::after {
  background-color: #a4a4a4;
}
#devil:checked ~ .form-attractions__label::after,
#mountain:checked ~ .form-attractions__label::after,
#park:checked ~ .form-attractions__label::after,
#rock:checked ~ .form-attractions__label::after {
  display: block;
}
.form-emotions {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 50px;
  border: none;
}
.form-emotions__title {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .form-emotions__title {
    font-size: 21px;
  }
}
.form-emotions__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 160px;
  padding: 16px 22px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}
